.populateButton {
  width: 10em;
  height: 5em;
  border: 1px solid grey;
}

.tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
}

.tab {
  float: left;
}

.tab > button {
  width: 10em;
  height: 5em;
  border: 1px solid grey;
}

button:hover {
  background: grey;
}

.content {
  position: absolute;
  left: 0;
  width: 50vw;
  padding: 20px;
  border: 1px solid #ccc; 
}

.active {
  background: yellow !important;
}