.tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
}

.tab {
  float: left;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  width: 50vw;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}

.active {
  background: yellow;
}